.button {
    background-color: #2059c2;
    border: 1000px rounded;
    border-color: black;
    border-radius: 100px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;}